
/* =============== RESETS =============== */





* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Balsamiq Sans', cursive;
}


/* =============== HEADER =============== */
header {
    background-color:#8dbaf5;
    height: 80px;
    margin-bottom: 20px;
    color: #fff;
}

.container {
    width: 800px;/*controls the width of all the content wrappers*/
    margin: 0 auto;
}



header .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 40px;
}

nav {
    display: flex;
    font-size: 25px;
}

nav a {
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
}



/* =============== MAIN CONTENT =============== */
.banner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #000;
}

.banner h2 {
    font-size: 35px;
    font-weight: 400;
}

.temp-units label {
    font-size: 15px;
    margin-right: 5px;
}

.temp-units select {
    border: solid 2px #000;
    padding:5px;
    background-color: #fff;
}

/* =============== CARDS =============== */
.card-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.card {
    background-color:#ebebeb;
    display: flex;
    flex-direction: column; /*Set to column so Gap can easily control spacing of contained elements*/
    gap: 20px;
    padding: 30px; /* This and .card img width define the width of the columns */
}

.card h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 125px; /* This and .card padding define the width of the columns */
}

.card>p {
    text-align: center;
}
.temperatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.temp-left {
    color: #d92525;
}
.temp-right {
    color: blue;
}
/* =============== ALERT POP UP =============== */
#pop-up {
    position: fixed;
    background-color: #ebebeb;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #000;
    padding: 10px 0;
}
#pop-up img {
    width: 64px;
    height: 64px;
    margin-left: 15px;
}
#pop-up button {
    background-color: #8dbaf5;
    width: 175px;
    height: 30px;
    margin-right: 20px;
    border: solid 1px #000;
    -webkit-box-shadow: 1px 4px 4px -2px #000000; 
    box-shadow: 1px 4px 4px -2px #000000;
}




