* {
    font-family: sans-serif;
}
h1 {
    color: white;
    background-color: black;
    text-align: left;
}
h1 span {
    color: rgb(42, 255, 251);
}
h2 {
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic ;
    font-weight: 200;
}
h3 {
    color: rebeccapurple;
    background-color: rgb(173, 187, 246);
    text-align: right;
    text-decoration: underline;
}