/* ================== RESETS ================== */
*   {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 16px;
}

body {
    font-size: 62.5%; /*Makes REMs and px equal (1.4 Rem = 14px)*/
}

/* ================== HEADER ================== */



/* =================== BODY =================== */



/* ================== FOOTER ================== */


