* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(219, 219, 219);
    font-family: 'Balsamiq Sans', cursive;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
}

/* ================= NAVIGATION ============ */
header {
    background-color: rgb(0, 0, 0);
}

nav.container {
    color: #fff;
    align-items: center;
}

.nav-lt {
    display: flex;
    margin: 1rem 0;
    gap: 2rem;
    align-items: center;
}

.nav-lt p {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-lt ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-lt a {
    text-decoration: none;
    color: #fff;
}

.nav-lt a:hover {
    text-decoration: underline;
    color:rgb(1, 170, 196);
}


nav.container button {
    padding: .25rem 1rem;
    border-radius: .125rem;
    background-color: rgb(0, 123, 142);
    color: rgb(171, 171, 171);
}

nav.container button:hover{
    background-color: rgb(1, 170, 196);
    color: rgb(0, 0, 0);
}




/* =========== MAIN CONTENT =========== */
main.container {
    margin-top: 1.5rem;
    gap: 1.5rem;

}
#lt-col, #rt-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* Column Width Control */
#lt-col {
    flex: 2;
}

#rt-col {
    flex: 1; 
}

/* ========= MAIN CONTENT - Left Column =========== */

/* ============= Name Card ============ */
#name-card {
    background-color: #fff;
    border: solid 2px black;
}

.banner {
    height: 65px;
    background-color: rgb(90, 90, 90);
    overflow: visible;
}

.banner>img {
    height: 100px;
    border-radius: 50%;
    border: solid 2px black;
    margin-top: 10px;
    margin-left: 10px;
}

#name-content {
    margin-left: 1rem;
}

#name-content h1 {
    font-size: 2.5rem;
    margin-top: 4rem;
}

.line {
    display: flex;
    align-items: baseline;
    gap: .75rem;
    margin: 1rem 0;
}

.line>img {
    height: 20px;
}

#name-content a:hover {
    color: crimson;
}

/* ======= General Card ========== */

.card  {
    background-color: #fff;
    border: solid 2px black;
}

/* ========= General Card - Left Column Specific======= */

#lt-col .card > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card h2 {
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: black;
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.location-date {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.description {
    margin-bottom: 1rem;
}


/* ========= General Card - Right Column Specific======= */
#rt-col .card header{
    background-color: rgb(63, 63, 63);
    display:flex;
    gap:.375rem;
    align-items: center;
    padding: .5rem;
}
#rt-col .card > * {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
}

#rt-col .card header button {
    color: rgb(255, 255, 255);
    background-color: brown;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 10px;
}
#rt-col .card h4 {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}


/*=================Persons=======================*/

.persons, .person-line-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.persons {
    margin-top: .5rem;
}

.person-name {
    margin-left: .25rem;
    font-size: .875rem;
}
.person-line-left img {
    height:2.5rem;
    border: solid 1px black;
    border-radius: 50%;
}

.person-line-right {
    display: flex;
    gap: 5px;
}
/* ============Person Request Buttons============= */
.person-line-right button{
    color: white;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid 1px black;
}

button.request-deny {
    background-color: rgb(200, 0, 0); 
}

button.request-deny:hover {
    background-color: rgb(254, 2, 2); 
}

button.request-accept {
    background-color: rgb(17, 141, 19); 
}

button.request-accept:hover {
    background-color: rgb(19, 201, 23); 
}

footer{
    border-top: solid 1px black;
    padding-top: .25rem;
}

footer a:hover {
    color: crimson;
}




























