.container{
    display: block;
    width: 950px;
    background-color: silver;
    padding: 1rem;
    margin: 0px auto;
    overflow: auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    
}
.side-nav {
    display: block;
    margin-top: 1rem;
    height: 300px;
    width: 200px;
    background-color: blue;
    float: left;
}
.main {display: block;
    
    margin-top: 1rem;
    padding: .75rem;
    height: 400px;
    width: 700px;
    background-color: red;
    float:right;
}
.sub-content {
    display: inline-block;
    margin-right:.25rem;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin-top: 1rem;
    background-color: purple;
}
